body{
    margin:10px;
    padding: 0;
    box-sizing: border-box;
    background-color: deepskyblue;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #0a2647;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
}
.logo{
    height: 40px;
    background-color: white;
    border-radius: 8px;
}
.icon{
    height: 20px;
    width: 20px;
}
.nav-icon{
    display: flex;
    gap: 0.5rem;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.icons
{
    height: 30px;
    width: 30px;
    border-radius: 4px;
    padding: 0.5rem;
    filter: invert(1);
}

button{
    background: none;
    border: 0;
    cursor: pointer;
}
.searchBar{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding:5px 10px;
}
.search{
    border: none;
    outline: none;
    padding: 5px;
    width:50em;
}
.profile{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.profile p{
    color: white;

}
.sideBar{
    background-color: #0a2647;  
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    height: 37em;
}
.container{
    width: 250px;
    display: flex;
    gap: 20px;
    padding:10px 0;   
}
.items{
    color: white;
    text-decoration:none;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.items:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.mainContainer{
        
    padding: 10px;
    background-color: #0a2647;
    
}